
.navbar{
    position:fixed;
    width: 100%;
    top:0;
    height: 30px;
    display:flex;
    background-color:#111;
    justify-content: space-between;
    padding:30px;
}
.logo{
    position: fixed;
    left:20px;
    width: 80px;
}
.avatar{
    position: fixed;
    right:20px;
    width: 20px;
}